* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root {
    --primary-color: rgb(15, 64, 31);
    --secondary-color: rgb(240, 147, 40);
}

                                /*start*/
body {
    color: rgb(26, 1, 26);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
padding: 20px 35px;
background-color: rgba(15, 64, 31, 0.0);
display: flex;
justify-content: space-between;
flex-wrap: wrap;
top: 0;
}
header:hover {
    background-color: rgba(15, 64, 31, .8);
}

header h1 {
    font-weight: bolder;
    font-size: 50px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #f0932b;
}
header nav {
    margin: 10px 0;
}
Header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
padding: 10px 15px;
font-weight: bold;
font-size: 20px;
}
header nav ul li a:hover {
    color: White;
    font-style: italic;
    font-size: x-large;
    border-style: groove;
    border-radius: 30px;
}
body {
   background-image: url("./LTdImTY.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
}
                                    /* about me*/
.bio {
    background-color: rgba(240, 147, 40, .0);
    padding-top: 0px;
    margin: 20px 200px 0px 200px;
    border-top-left-radius: 70px;
    border-left: 2px solid var(--primary-color);
    border-top: 2px solid var(--primary-color);
}
.bio:hover {
    padding-top: 0px;
    margin: 20px 200px 0px 200px;
    border-top-left-radius: 70px;
    border-left: 2px solid var(--secondary-color);
    border-top: 2px solid var(--secondary-color);
    color: white;
    background-image: linear-gradient(129deg, rgba(15,64,31,.7), rgba(15,64,31,.0));
}
.section-container {
    text-align: center;
    padding: 30px;
    margin: 40px 80px;
}
.section-title {
    display: inline-block;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid var(--primary-color);
    font-size: 30px;
}


.paragraph {
    text-align: center;
    
    /* float: right; */
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 10%;
    font-size: large;
   
}
.bio-img img {
    max-width: 30%;
    /* float: left; */
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 400px;
     height: 300px;
}
.bio-img {
    /* flex: 2 70%; */
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: space-evenly;
    align-items: center;
    align-content: center; 
    padding-top: 20px;  
     
}
                                /* My work*/
.section-title2 {
    display: inline-block;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid var(--secondary-color);
    width: 20%;
    font-size: 30px;
}
.section-container2 {
    background-color:rgba(15, 64, 31, 0.0) ;
    text-align: center;
    padding: 30px;
    color: var(--secondary-color);
    /* z-index: 9999; */
    margin: 10px 200px;
    border-bottom: 2px solid;
    border-right: 2px solid orange;
    border-bottom-right-radius: 70px;
}
.section-container2:hover {
    text-align: center;
    padding: 30px;
    color: var(--primary-color);
    z-index: 9999;
    margin: 10px 200px;
    border-bottom: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    border-bottom-right-radius: 70px;
    background-image: linear-gradient( to right, rgba(250, 244, 244,0), rgba(240, 147, 40, .6));
}
.main img {
    margin-top: 10px;
    border-radius: 10px;
    /* height: 50%; */
}
#main-img {
    width: 1000px;
    height: 500px;
}
                                /*Bottom 3 images*/
.img-row {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}
.img-row img {
    border: 2px solid;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    filter: blur(10px);
    height: 100px;
    width: 350px;
}
.img-row img:hover {
    border: 2px groove white;
    padding-top: 0px;
    margin-top: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    filter: none;
}
                            /*!!!  contact Me  !!!*/
.contact p {
    text-align: right;
    float: left;
    font-size: large;
    padding: 10px 10px 0px 30px;
}
.contact-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    filter: opacity(.5);
}
.contact-container:hover {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    filter: opacity(.8);
}

address {
    text-align: center;
}
@media screen and (max-width: 1600px) {
    #main-img {
        width: 800px;
    }
    .img-row img {
        width: 250px;
    }
} 
@media screen and (max-width: 1300px) {
    #main-img {
        height: 250px;
        width: 600px;
    }
    .bio-img {
        flex-direction: column;
    }
}